body
{
  margin: 0;
  background-color: #333;
  color: #444;
}

.header
{
  padding: 20px;
  position: relative;
  background-color: white;
}

/* marker for layout */
.debug .header h1::after
{
  content: '320';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 5px;
  border: 1px solid rgba(0,0,0,0.5);
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-left-radius: 5px;
  background-color: rgba(0,0,0,0.25);
  font-size: 9px;
}
  
.header h1
{
  font-size: 2em;
  margin: 0;
  line-height: 1;
}

.header p
{
  color: #ccc;
  font-family: "helvetica neue";
  font-size: 1.5em;
  margin: 0;
  line-height: 1;
}

.header a
{
  color: inherit;
}

.body
{
  padding: 20px;
  background-color: white;
  position: relative;
}

.body a.edit-link
{
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 5px 10px;
  font-size: 11px;
  font-family: helvetica;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  line-height: 10px;
  color: white;
}

article + article
{
  margin-top: 4em;
}

article
{
}

article p
{
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; 
}

a
{
  color: rgba(255,128,0,0.75);
  text-decoration: none;
}

a:hover
{
  color: rgba(255,128,0,1);
}

article ul, 
article ol
{
  margin: 1em 0 1em 2em;
}

article ol li
{
  list-style: decimal;
}

article ul li
{
  list-style: disc;
}

header
{
  display: block;
}

article header h1
{
  margin: 0em;
}

article h1 a
{
  color: inherit;
}

article header p
{
  margin: 0;
  font-style: italic;
}

article.feature
{
  border-bottom: 1px solid rgba(0,0,0,0.75);
  border-top: 1px solid rgba(0,0,0,0.75);
  margin: 0 -20px;
  padding: 0 20px 20px;
}

article.feature:last-child
{
  border-bottom-width: 0;
}

article.feature + article.feature
{
  margin-top: 0;
  border-top-width: 0;
}

article.feature h1
{
  font-family: "cochin", "georgia";
  font-size: 3em;
  font-style: italic;
  margin: 0;
  color: rgba(255,128,0,0.75);
}

article.feature h1 + p
{
  margin: 0;
  font-size: 2em;
  color: #666;
}

article footer
{
  font-family: "helvetica neue";
  color: #999;
}

pre
{
  overflow-x: hidden;
  max-width: 100%;
}

figure
{
  text-align: center;
  margin: 1em 0;
}

figure > a
{
  display: block;
}

img.photo
{
  margin: 1em;
}

figure img.photo,
figure img[src*="flickr.com"]
{
  margin: 0;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.5) 0 2px 5px;
  xvertical-align: middle;
}

img
{
  /* ensure images don't overflow their container elements */
  max-width: 100%;
}

.footnotes li p:nth-last-of-type(1)
{
  display: inline;
}


.footer
{
  padding: 20px;
  background-color: #333;
  color: rgba(255,255,255,0.9);
  font-family: "helvetica neue";
  position: relative;
}

/*
.footer::before {
  height: 40px;
  background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #222), color-stop(1, #333) );
  background-image: -moz-linear-gradient( center top, #222 0%, #333 100% );
  content: ".";
  text-indent: -9999px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
*/

.footer section
{
  margin-bottom: 1em;
}

.footer h2
{
  text-shadow: rgba(0,0,0,0.6) 0 1px 2px;
}

.footer .count
{
  color: rgba(255,255,255,0.1);
  font-size: 0.75em;
}

.footer a:hover .count
{
  color: rgba(255,255,255,0.3);
}

.footer a
{
  color: rgba(255,128,0,0.5);
}

.footer a:hover
{
  color: rgba(255,128,0,0.8);
}


/*
Images are wrapped in divs classed "flickr_badge_image" with ids "flickr_badge_imageX" where "X" is an integer specifying ordinal position. Below are some styles to get you started!
*/

#flickr
{
  background-color: #222;
  color: rgba(255,255,255,0.9);
  font-family: "helvetica neue";
  padding: 20px 0;
}

#flickr header
{
  padding: 0 20px;
}

#flickr h1,
#flickr p
{
  margin: 0;
  text-shadow: rgba(0,0,0,0.6) 0 1px 2px;
}

#flickr .photos
{
  margin: 20px auto;
  text-align: center;
}

#flickr .flickr_badge_image
{
  display: inline-block;
  width: 260px;
  text-align: center;
  padding: 20px;
}

#flickr .flickr_badge_image img
{
  vertical-align: middle;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.6) 0 2px 5px;
  background-color: #ddd;
}
