body
{
  margin: 0;
}

.header
{
  background-image: url(../comps/seattle.png);
  height: 100px;
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: cover;
  padding-left: 1in;
}

article
{
  margin: 20px;
}

header
{
  display: block;
}

article header h1
{
  margin: 0em;
}

article header p
{
  margin: 0;
  font-style: italic;
}

article footer
{
  display: table;
  width: 100%;
}

article footer a
{
  display: table-cell;
  width: 50%;
  margin: 0;
  padding: 0;
}

article footer a:first-child::before
{
  content: '« ';
}

article footer a:nth-child(2)
{
  text-align: right;
}

article footer a:nth-child(2)::after
{
  content: ' »';
}

img
{
  /* ensure images don't overflow their container elements */
  max-width: 100%;
}

